<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>HTML5 Boilerplate</title>
    <link rel="stylesheet" href="/style.css" />
  </head>

  <body>
    <header>
      <div class="header">
        <a href="/"><img
            class="logo"
            src="/assets/Logo_TripTales_Joanne_Julia.png"
            alt="LogoTripTales"
          /></a>
        <a href="/favourites"><img
            class="heart"
            src="/assets/heart.svg"
            alt="Herz"
          /></a>
      </div>
    </header>

    <main>
      {{{body}}}
    </main>

    <footer>
      <div class="footer">
        <a href="/impressum"> <h6>Impressum</h6> </a>
        <h6> &copy; 2024 BBZ Biel </h6>
      </div>
    </footer>
  </body>

</html>