<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>HTML5 Boilerplate</title>
    <link rel="stylesheet" href="/style.css" />
  </head>

  <body>
    <header>
      <a href="/feed"><img
          class="logo"
          src="/assets/Logo_TripTales_Joanne_Julia.png"
          alt="LogoTripTales"
        /></a>
    </header>

    <main>
      {{{body}}}
    </main>

    <footer>
      <div class="footer">
        <a href="/impressum"> <h6>Impressum</h6> </a>
        &copy; 2024 BBZ Biel
      </div>
    </footer>
  </body>

</html>