<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Locanda Sainte Sophie</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <header>
      <nav>
        <div>
          <a href="/"> <img class="logo" src="/assets/Logo-Shell_rot.png" alt="Logo"></a>
       </div> <div>
        <ul>
          <li><a href="https://6nnjht-3010.csb.app#oeffnungszeiten">Öffnungszeiten</a></li>
          <li><a href="https://6nnjht-3010.csb.app#kontakt">Kontakt</a></li>
          <li><a href="https://6nnjht-3010.csb.app#menu">Menu</a></li>
          <li><a href="https://6nnjht-3010.csb.app#geschichte">Geschichte</a></li>
          <li><a href="/about">Über das Projekt</a></li>
        </ul>
      </div>
      </nav>
    </header>

    <main>
      {{{body}}}
    </main>

    <footer>
      <p><a href="/impressum">Impressum</a></p>
    </footer>

</html>