<body>
  <section class="info-section flex about">
    <h1>Über das Projekt</h1>

  </section>
  <p class="about">Wir blicken stolz auf die letzten Monate zurück, in denen wir
    im Rahmen des Projekts «Überarbeitung eines Website-UIs» die Website des
    Restaurants «Locanda Sainte Sophie» in Gunten überarbeiten durften.
    Grösstenteils haben wir uns an unser Konzept gehalten, einzelne Dinge haben
    wir angepasst oder neu hinzugefügt. Nachfolgend werden wir auf die konkreten
    Änderungen, die wir an der Website umgesetzt haben, eingehen: Das erste, das
    wir angepasst haben, war das Design. Das Grau der bestehenden Website wirkte
    etwas matt und deshalb entschieden wir uns dafür, die Website weiss zu
    gestalten. Als Schriftfarbe definierten wir ein Rotbraun, das auch auf der
    Originalwebsite verwendet wird.
    <br />
    Die Titel sind auf der linken Seite platziert und die Informationen fügten
    wir rechts, oder grosse Komponenten in der Mitte ein. Das soll der
    Übersichtlichkeit dienen. Ausserdem entschieden wir uns, einen OnePager zu
    erstellen. Danach überarbeiteten wir den Header. Wir strukturierten die
    Inhalte in vier Menüpunkte und fügten die Seite mit den Infos über unser
    Projekt hinzu. Der «Home»-Menupunkt wurde durch das Logo ersetzt. Das Logo
    bleibt, gemeinsam mit dem ganzen Header, jederzeit sichtbar. Die
    Öffnungszeiten sind sehr prominent platziert, da dies die wichtigste
    Information für Restaurantbesucher ist. Der Punkt «Kontakt» wurde in
    Adresse, inklusive eingebetteter Google Maps-Karte, Telefonnummer und Mail
    mit Direktlink zusammengefasst. Unter dem Punkt «Menu» findet man die
    aktuelle Speisekarte und bei «Geschichte» ist die Geschichte des Chefs Mario
    Mondello dokumentiert.
    <br />
    Für die Reservation eines Tisches gibt es einen rotbraunen Störer-Button,
    der zu einem Formular führt. Dieser Störer dreht sich beim scrollen, um noch
    mehr aufzufallen, und befindet sich unübersehbar in der unteren rechten Ecke
    der Website. Wir haben uns bewusst gegen einen normalen Menupunkt
    entschieden, da wir diese Info hervoheben möchten. Da wir keinen Mailserver
    konfiguriert haben, führt der Button «Abschicken» nach dem Ausfüllen des
    Formulars zurück zur Home-Seite und schickt keine Mail ab. Im Footer findet
    man erneut das Logo, sowie eine neue Impressum-Seite, die mit unseren
    Kontaktdaten ergänzt ist.</p>

  <section class="info-section flex about-portraits">
    <div class="portraits"><figure><img
          class="portrait"
          src="/assets/joanne.JPEG"
          alt="Joanne Kunz"
        /><figcaption>Joanne Kunz</figcaption></figure>
      <figure><img
          class="portrait"
          src="/assets/julia.JPG"
          alt="Julia Ruchti"
        /><figcaption>Julia Ruchti</figcaption></figure></div>
  </section>
</body>