<body>
  <h1>Über das Projekt</h1>
  <p>Im Rahmen eines Schulprojekts des BBZ Biel...</p>
  <div><img src="/assets/joanne.jpeg" alt="Joanne Kunz" />
    <img src="/assets/julia.jpeg" alt="Julia Ruchti" /></div>
</body>