<body>
  <section class="info-section flex about">
    <h1>Über das Projekt</h1>
    <div class="portraits"><figure><img
          class="portrait"
          src="/assets/joanne.JPEG"
          alt="Joanne Kunz"
        /><figcaption>Joanne Kunz</figcaption></figure>
      <figure><img
          class="portrait"
          src="/assets/julia.JPG"
          alt="Julia Ruchti"
        /><figcaption>Julia Ruchti</figcaption></figure></div>
  </section>
  <p>Im Rahmen eines Schulprojekts am BBZ Biel...</p>
</body>