<body>
  <section class="info-section flex">
    <h1>Über das Projekt</h1>
    <p>Im Rahmen eines Schulprojekts am BBZ Biel...</p>
    <div><img class="portrait" src="/assets/joanne.JPEG" alt="Joanne Kunz" />
      <img
        class="portrait"
        src="/assets/julia.JPG"
        alt="Julia Ruchti"
      /></div></section>
</body>