{{#posts}}

  <h1>{{title}}</h1>
  <p>{{contents}}</p>

  <h6>@{{username}}</h6>

  <div>
    <img
      class="blog_img"
      src="/assets/leon-liu-_0aOFIW34rw-unsplash.jpg"
      alt="GrandCanyon"
    />
  </div>
{{/posts}}