<body>
  <div class="impressum">
    <h1>Impressum</h1>
    <p>Julia Ruchti
      <br />
      Joanne Kunz</p>
    <p>
      juliamara.ruchti@bbz-cfp.ch
      <br />
      joanne.kunz@bbz-cfp.ch
    </p>

    <p>
      BBZ-CFP Biel-Bienne
      <br />
      Wasenstrasse 5
      <br />
      2500 Biel/Bienne</p></div>

</body>