<h1>Registrieren</h1>

<p>Du hast noch kein Konto? Registriere dich hier.</p>

<form action="/register" method="POST">
  E-Mail:
  <input name="username" type="text" /><br />
  Passwort:
  <input name="password" type="password" /><br />
  <input type="submit" value="Registrieren" />
</form>