<body>
  <div class="formbold-main-wrapper">
    <div class="formbold-form-wrapper">
      <form action="mailto:julia29ruchti@gmail.com" method="post">
        <div class="flex flex-wrap formbold--mx-3">
          <div class="w-full sm:w-half formbold-px-3">
            <div class="formbold-mb-5">
              <label for="fName" class="formbold-form-label">
                First Name
              </label>
              <input
                type="text"
                name="fName"
                id="fName"
                placeholder="Vorname"
                class="formbold-form-input"
              />
            </div>
          </div>
          <div class="w-full sm:w-half formbold-px-3">
            <div class="formbold-mb-5">
              <label for="lName" class="formbold-form-label"> Last Name </label>
              <input
                type="text"
                name="lName"
                id="lName"
                placeholder="Nachname"
                class="formbold-form-input"
              />
            </div>
          </div>
        </div>

        <div class="formbold-mb-5">
          <label for="guest" class="formbold-form-label">
            Anzahl Gäste
          </label>
          <input
            type="number"
            name="guest"
            id="guest"
            placeholder="5"
            class="formbold-form-input"
          />
        </div>

        <div class="flex flex-wrap formbold--mx-3">
          <div class="w-full sm:w-half formbold-px-3">
            <div class="formbold-mb-5 w-full">
              <label for="date" class="formbold-form-label">Gewünschtes Datum
              </label>
              <input
                type="date"
                name="date"
                id="date"
                class="formbold-form-input"
              />
            </div>
          </div>
          <div class="w-full sm:w-half formbold-px-3">
            <div class="formbold-mb-5">
              <label for="time" class="formbold-form-label"> Zeit </label>
              <input
                type="time"
                name="time"
                id="time"
                class="formbold-form-input"
              />
            </div>
          </div>
        </div>

        <div>
          <button class="formbold-btn">Abschicken</button>
        </div>
      </form>
    </div>
  </div>
</body>