<body>
  <section class="flex flex-centered">
    <h1>Willkommen beim <br />Locanda Sainte Sophie</h1>
    <img src="/assets/Bild-1.jpeg" alt="Restaurant Innenansicht" />
  </section>

  <section class="info-section grey-bg flex">
    <h2 id="oeffnungszeiten">Öffnungszeiten</h2>
    <p>
      Dienstag bis Samstag
      <br />
      10:00 - 14:00 Uhr | 17:30 - 23:00 Uhr <br /> <class="red">Sonntag<br />10:00 - 14:00 Uhr | 17:30 - 21:00 Uhr <br /> Montag Ruhetag</p>
  </section>

  <section class="info-section">
    <h2 id="kontakt">Kontakt</h2>
    <p>Spycherstrasse 15, 3654 Gunten</p>
    <p>Telefon: <a href="tel:+41335257708">033 52 57 708</a></p>
    <p>Email:
      <a href="mailto:info@locandagunten.ch">info@locandagunten.ch</a></p>
    <div class="map"><iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2735.6137306261217!2d7.699027977243855!3d46.71335517112191!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478fae1a3b6a112d%3A0xfc45b17d7b928740!2sLocanda%20Sainte%20Sophie!5e0!3m2!1sde!2sch!4v1746460683000!5m2!1sde!2sch"
        width="600"
        height="450"
        style="border:0;"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </section>

  <section class="info-section">
    <h2 id="menu">Menu</h2>
    <a href="/assets/Locanda_Menu.pdf" class="button" target="_blank">
      Unsere Speisekarte</a>
  </section>

  <section class="info-section">
    <h2 id="geschichte">Geschichte</h2>
    <img src="/assets/Chef.jpeg" alt="Chef Mario Mondello" />
    <p>Erfahren Sie mehr über die kulinarische Reise von Mario Mondello...</p>
  </section>
</body>