<body>
  <section class="flex info-section" id="oeffnungszeiten">
    <h1 class="title">Willkommen beim Locanda Sainte Sophie</h1>
    <img src="/assets/Bild-1.jpeg" alt="Restaurant Innenansicht" />
  </section>

  <section class="hero-section info-section grey-bg flex" id="kontakt">
    <h2 id="oeffnungszeiten">Öffnungszeiten</h2>
    <p>
      Dienstag bis Samstag
      <br />
      ​​10:00 Uhr bis 14:00 Uhr<br />
17:30 Uhr bis 23:00 Uhr<br />
​Küche<br />
11:30 Uhr bis 14:00 Uhr <br />
18:00 Uhr bis 22:00 Uhr<br /> <class="red">Sonntag<br />​
​10:00 Uhr bis 14:00 Uhr<br />
      17:30 Uhr bis 21:00 Uhr <br />
      ​Küche <br>
      11:30 Uhr bis 14:00 Uhr <br />
      18:00 Uhr bis 20:00 Uhr<br /> Montag Ruhetag</p>
  </section>

  <section class="kontakt-section flex" id="menu">
    <div class="kontakt-info"><div><h2>Kontakt</h2></div>
    <div class="kontaktangaben"><p class="kontakt-info-info"> <img src="/assets/pin.png" alt="Pin">Spycherstrasse 15, 3654 Gunten</p>
      <p class="kontakt-info-info"><img src="/assets/telefon.png" alt="Pin">Telefon:&nbsp;<a href="tel:+41335257708">033 52 57 708</a></p>
    <p class="kontakt-info-info"><img src="/assets/mail.png" alt="Pin">Email:&nbsp;
      <a href="mailto:info@locandagunten.ch">info@locandagunten.ch</a></p></div></div>
    <div class="map"><div><iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2735.6137306261217!2d7.699027977243855!3d46.71335517112191!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478fae1a3b6a112d%3A0xfc45b17d7b928740!2sLocanda%20Sainte%20Sophie!5e0!3m2!1sde!2sch!4v1746460683000!5m2!1sde!2sch"
        width="600"
        style="border:0;"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></div></iframe>
    </div>
  </section>

  <section class="info-section grey-bg flex" id="geschichte">
    <h2 id="menu">Menu</h2>
    <a href="/assets/Locanda_Menu.pdf" class="button" target="_blank">
      Unsere Speisekarte</a>
  </section>

  <section class="geschichte">
    <div class="info-section flex">
    <h2 id="geschichte">Geschichte</h2>
    <figure>
    <img src="/assets/Chef.jpeg" alt="Chef Mario Mondello" />
   <figcaption>Chef Mario Mondello</figcaption></figure></div> 
<p class="geschichte-text">
      An dieser Stelle möchte ich euch erzählen, von wem ich die Liebe und Wertschätzung zur Kochkunst gelernt habe. Locanda Sainte Sophie ist ein italienisches Restaurant – aber vor allem ist es eine kulinarische Liebesgeschichte, die bereits von meiner Großmutter an meine Mutter weitergegeben wurde und damit in der 3. Generation von mir weitergeführt wird – es handelt sich um wahre Liebe zur Kochkunst, die von Generation zu Generation weitervererbt wurde. Aufgewachsen in Süditalien, lernte ich schon von meiner Mutter Sofia, die auch die Namensgeberin meines Restaurants ist, als auch von meiner Großmutter, den Umgang mit und die Wertschätzung von regionalen Produkten und Geschmäckern kennen. Ich möchte euch von ganzem Herzen meine Erinnerungen an die Tradition der süditalienischen Küche weitergeben.
<p>
      Nehmt bitte Platz, damit eure kulinarische Reise nach Italien beginnen kann und wir eure Geschmackserlebnisse zu Mario Mondellos Einzigartigkeit bringen dürfen. Herzlich Willkommen im Restaurant “Locanda Sainte Sophie“</p>
 </p> </section>

<!-- stoerer -->

  <div class="stoerer">
    <a href="https://6nnjht-3010.csb.app/reservation">
      <img src="/assets/stoerer.png" alt="Tisch reservieren" id="stoerer-img">
    </a>
  </div>

  <script>
    let lastScroll = 0;
    let rotation = 0;
  
    window.addEventListener("scroll", () => {
      const currentScroll = window.scrollY;
      const delta = currentScroll - lastScroll;
  
      // Passe den Multiplikator ggf. an, um die Rotationsgeschwindigkeit zu steuern
      rotation += delta * 0.2;
      lastScroll = currentScroll;
  
      const stoererImg = document.getElementById("stoerer-img");
      stoererImg.style.transform = `rotate(${rotation}deg)`;
    });
  </script>


</body>