* {
  font-family: "Jost", "Poppins", Arial, Helvetica, sans-serif;
  margin: none;
  padding: none;
  text-decoration: none;
}

header,
footer {
  padding: 4vw;
}

.header {
  display: flex;
  justify-content: space-between;
}

footer {
  border-top: solid 1px #adadad;
}

div.footer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0;
}

main {
  margin: 4vw 20vw 0 20vw;
}

.logo {
  width: 12vw;
}

h1 {
  font-size: 60pt;
  font-weight: 700;
}

h2 {
  font-size: 25pt;
  font-weight: 400;
}

h6 {
  font-size: 12pt;
  color: #adadad;
  font-weight: 400;
}

p {
  font-size: 15pt;
  font-weight: 400;
  text-align: justify;
}

.heart {
  width: 40px;
}

/* TODO: füllt noch nicht */
.heart :hover {
  fill: black;
}

.blog_img {
  max-width: 50vw;
  display: flex;
  justify-content: center;
}

button.new_post {
  border: 2px;
  border-color: white;
  border-radius: 75px;
  font-size: 18pt;
  background-color: #badfec;
  padding: 15px 30px;
  margin: 0 0 100px;
}

button.new_post:hover {
  border-color: #367a93;
}

.button_centered {
  display: flex;
  justify-content: center;
}

/* form */

form input {
  border: 2px #badfec solid;
  margin: 10px 0 10px 0;
  padding: 10px 10px 10px 10px;
  border-radius: 75px;
  color: #adadad;
}
