* {
  font-family: "Jost", "Poppins", Arial, Helvetica, sans-serif;
  margin: none;
  padding: none;
  text-decoration: none;
}

header,
footer {
  padding: 4vw;
}

a {
  text-decoration: none;
  color: black;
}

.header {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
}

footer {
  border-top: solid 1px #adadad;
}

div.footer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0;
}

main {
  margin: 4vw 20vw 0 20vw;
  min-height: 70vh;
}

.logo {
  width: 12vw;
}

h1 {
  font-size: 60pt;
  font-weight: 700;
}

.flex {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 80vw;
}

.post {
  height: 430;
  width: 333;
  border-radius: 50px;
  padding: 30px;
  margin-bottom: 70px;
  box-shadow: 0px 4px 12.2px 2px rgba(0, 0, 0, 0.25);
}

.image {
  padding: -30px;
  background-color: #adadad;
  width: 100%;
  border: none;
  height: 50%;
  border-radius: 50px 50px 0 0;
}

h2 {
  font-size: 25pt;
  font-weight: 400;
}

h3 {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 102.74%;
}

h6 {
  font-size: 15pt;
  color: #adadad;
  font-weight: 400;
  line-height: 0pt;
}

p {
  font-size: 15pt;
  font-weight: 400;
  text-align: justify;
}

.heart {
  width: 40px;
  transition: fill 0.3s ease;
}

/* TODO: füllt noch nicht */
.heart :hover {
  fill: black;
}

.blog_img {
  max-width: 50vw;
  display: flex;
  justify-content: center;
}

button.new_post {
  border-radius: 75px;
  font-size: 18pt;
  background-color: #badfec;
  padding: 15px 30px;
  margin: 0 0 100px;
}

button.new_post:hover {
  border: 2px;
  border-style: solid;
  border-color: #367a93;
}

.button_centered {
  display: flex;
  justify-content: center;
}

#save {
  border-radius: 75px;
  font-size: 18pt;
  background-color: #ffd7f0;
  padding: 15px 30px;
  margin: 0 0 100px;
}

#save:hover {
  border: 2px;
  border-style: solid;
  border-color: #ac5d8f;
}

.button_right {
  display: flex;
  justify-content: right;
}

/* form */

form input {
  border: 2px solid;
  margin: 10px 0 10px 0;
  padding: 10px 10px 10px 10px;
  border-radius: 75px;
  background-color: white;
  color: black;
}

.no_border {
  border: none;
}

.spacer {
  padding-bottom: 100px;
}
